            <div class="wrapper">
              <header>
                <nav class="navbar">
                  <div class="brand">
                    <h2>M<span>E</span></h2>
                  </div>
                  <ul class="menu">
                    <li><a href="#"  class="active"></a></li>
                    <li><a href="#"  class="active"></a></li>
                    <li><a href="#"  class="active">BIENVENIDO</a></li>
                  </ul>
                </nav>
              </header>

              <main class="main">
                <div class="info-content">
                  <h1>Hola soy  <span>Monserrat  </span></h1>
                   <p>Estudiante de Ingeniería en Sistemas Computacionales en el Instituto Tecnológico de Cuautla. Tengo 21 años y me apasiona el desarrollo web, 
                     por lo que me he enfocado en aprender todo lo necesario para ser un profesional 
                     Full Stack. </p>
                </div>
                <img src="assets/img/monse2.jpeg" alt="">
              </main>  
            </div>


        
            
      
