<footer class="footer"> 
    <div class="footer-content">
      <h2>@monseeligio</h2>
      <h5>Junior Frontend Developer</h5>
    </div>
    <div class="sotial-networks">
      <i class="fab fa-gitlab"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-github"></i>
    </div>
  </footer>

