.encabezado{
    background-color: #1A1C33;
    margin: auto 0;
  }
  h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #fff;
  }
  p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  }
  .parrafo{
    padding: 2rem 2rem;
    padding-left: 0;
  
    color: #fff;
  }
  
  .row{
    margin-right: 0%;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }
  .brand {
    margin-top: -7px;
  }
  .brand span {
    color: aqua;
  }
  .menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  .menu  li {
    list-style: none;
  
  }
  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; 
  }
  
  .menu li:hover a{
    background-color: aqua;
    color: #191c32;
  }
  
  .menu .active {
    color: aqua;
   
  }
  
  
  .menu li a:hover {
    color: #66E7C8;
  }
  
  
  .main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2em;
  }
  
  h1 {
    font-size: 3em;
  }
  
  .info-content span {
    color: aqua;
  }
  
  .download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
    box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  }
  
  .download-cv:hover {
    background-color: azure;
    box-shadow: none;
  }
  
  .main img {
    border:  7px solid aqua;
    width: 350px;
    height: 520px;
    z-index: 1;
  }
  
  .about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
  }
  
  .about img {
    width: 100%;
    grid-column: 1/5;
  }
  
  .about-info {
    grid-column: 5/10;
    padding: 3em;
  }
  
  .about-info h2 {
    font-size: 2em;
    color: #191c32;
  }
  
  .divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
  }
  
  .about p {
    margin-bottom: 1em;
  }
  
  .portfolio,
  .contact-section {
    width: 100vw;
    background-color: #191c32;
    color: #fff;
  }
  
  .portfolio-heading {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  
  .portfolio-heading h2,
  .contact-heading h2 {
    font-size: 2.5em;
    color: #fff;
  }
  
  .portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    background-color: #2b3058;
    margin: 1em;
  }
  
  .card__img {
    width: 100%;
    height: 150px;
    background-image: url(https://res.cloudinary.com/freelancer2222222222222222/image/upload/v1650543491/samples/2-original_agisst.png);
    background-size: cover;
  }
  
  .card__title {
    padding: 20px;
  }
  
  .card__proyect-links {
    display: flex;
    justify-content: space-evenly;
  }
  .card__proyect-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .card__proyect-links i {
    font-size: 1.5em;
  }
  
  .button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
  }
  
  .project-details-button a {
    text-decoration: none;
    color: #191c32;
  }
  
  
  .contact-section {
    padding: 3em;
  }
  
  .container-contact {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .contact-section img {
    width: 750px;
    height: 700px;
    bottom: 0px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
  }
  .form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px solid #fff;
    color: #fff;
  }
  
  .form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  
  .form-group .btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
  }
  
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: rgb(255, 255, 255);
  }
  
  .footer-content h2 {
    font-size: 3em;
  }
  
  .footer-content h5 {
    font-size: 1.5em;
    text-align: center;
  }
  
  .sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
  }
  
  .sotial-networks i {
    font-size: 1.5em;
  }
  
  .portfolio,
  .contact-section {
    width: 100vw;
    background-color: #191c32;
    color: #fff;
  }
  
  .portfolio-heading {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
  }
  
  
  .portfolio-heading h2,
  .contact-heading h2 {
    font-size: 2.5em;
    color: #fff;
  }
  
  .portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    background-color: #2b3058;
    margin: 1em;
  }
  
  .card__img {
    width: 100%;
    height: 150px;
    /*background-image: url();*/
    background-size: cover;
  }
  
  .card__title {
    padding: 20px;
  }
  
  .card__proyect-links {
    display: flex;
    justify-content: space-evenly;
  }
  .card__proyect-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .card__proyect-links i {
    font-size: 1.5em;
  }
  
  .button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
  }
  
  .project-details-button a {
    text-decoration: none;
    color: #191c32;
  }
  
  .contact-section {
    padding: 3em;
  }
  
  .container-contact {
    margin: 0 auto;
    margin-top: 10em;
  }
  
  
  
  .contact-section img {
    width: 750px;
    height: 700px;
    bottom: 0px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
  }
  .form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px solid #fff;
    color: #fff;
  }
  
  .form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  
  .form-group .btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: aqua;
  }
  
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: rgb(255, 255, 255);
  }
  
  .footer-content h2 {
    font-size: 3em;
  }
  
  .footer-content h5 {
    font-size: 1.5em;
    text-align: center;
  }
  
  .sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
  }
  
  .sotial-networks i {
    font-size: 1.5em;
  }
  